@keyframes rainbowText {
  0% {
    color: red;
  }
  
  50% {
    color: yellow;
  }

  100% {
    color: blue
  }
}


@keyframes rainbow-text {
  0% {
    text-shadow: 
      
      0 0 35px blue, 
      0 0 20px green, 
      0 0 30px indigo, 
      0 0 35px violet;
  }
  50% {
    text-shadow: 
      0 0 5px orange, 
      0 0 10px yellow, 
      0 0 15px green, 
      0 0 20px blue, 

  }
 
  100% {
    text-shadow: 
      0 0 5px red, 
      0 0 10px orange, 
      0 0 15px yellow, 
      0 0 20px green, 

   
  }
}

@keyframes rainbowBorder {
  0% {
    border-color: red;
  }
  14% {
    border-color: orange;
  }
  28% {
    border-color: yellow;
  }
  42% {
    border-color: green;
  }
  57% {
    border-color: blue;
  }
  71% {
    border-color: indigo;
  }
  85% {
    border-color: violet;
  }
  100% {
    border-color: red;
  }
}