



.Grid-Display{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 90vh;
  
}

.grid-items-container{
  margin:10px 0px 4px;
  display: grid;
  animation: rainbowBorder 1s linear infinite;
  grid-template-columns: repeat(6, 1fr);
  width: 1fr;
  gap: 0;
  border:1px solid;
  -webkit-box-shadow: inset -9px 24px 55px -64px rgba(196,194,196,0.91);
-moz-box-shadow: inset -9px 24px 55px -64px rgba(196,194,196,0.91);
box-shadow: inset -9px 24px 55px -64px rgba(196,194,196,0.91);
}

.grid-items{
  animation: rainbowText 5s infinite linear;
}
.grid-items:hover{
  animation: none;
}
@media (max-width: 600px) {

  .grid-items-container{
    grid-template-columns: repeat(4, 1fr);
  }
  .js-grid-items-container2,
  .js-grid-items-container3 {
    display: none;
  }
}

a:hover{
  color: red;
  text-decoration:overline blue;
}
span{
  display: block;
  font-size: 3.6vh;
  margin: 0.4vh;
  color: blue;
  font-weight: 800;
  animation: rainbowText 5s infinite linear;
}

h1{
  text-align: center;
  font-size: 5vh;
}

.dark-mode{  color: white;
  background-color: #333;}
.light-mode{color:black;background-color: white;}

.button-set1{
  color: blue;
}
.button-set1:hover{
  background-color: blue;
  color: white;
  
}
.button-set2{
  color: red;
}
.button-set2:hover{
  background-color: red;;
  color: white;
}

.button-set3{
  color: green;
}
.button-set3:hover{
  background-color: green;
  color: white;
}
.button-info{
  color: purple
}
.button-info:hover{
  background-color: purple;
  color: white;
}
