
/* Base style for the text */

/* Keyframes for the rainbow text effect */


body ,h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 14px;
  
}
h1{animation: rainbowText 6s infinite linear;}

button{
  padding:6px 6px 6px 6px;
  border: 1px solid silver;
  border-radius: 4px;
  transition: 0.25s;
  font-size: 1em;
  margin:4px 10px 5px 10px;
  cursor: pointer;
  font-weight: 800;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  background-color: snow;
  animation: rainbowBorder 2s linear infinite;
}


button:hover{color: orange;
background-color: rgb(3, 189, 12);
padding: 10px;
font-weight: 800;}

a{width: max-content;
  height: max-content;
margin:1vh 1vh 1vh 1vh; 
font-size: 2vh;
text-decoration:underline  gold;
transition: ease-in-out 0.20s;}


h1{
  font-size: 24px;
  height: 10px;
  margin-bottom: 50px;
}